@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    /**/

    ViewBag.Title = "Add New Role";
    Layout = "~/Views/Shared/Layouts/AFTERlogin.cshtml";
}
<div class="jumbotron" style="height:430px; position: relative;top:220px;background: rgba(90, 166, 130, 0.9); border: 0.5px solid black;">

    <h2>Add New User Role:</h2>
    <hr />

    @using (Html.BeginForm())
    {
        <h5> Enter User Role Name:</h5>

        @Html.TextBoxFor(m => m.Name, new { @class = "form-control col-md-3" })
        <button type="submit" class="btn btn-primary" style=" margin-left:10px; position:relative; top:-7px ">Create Rolla</button>
    }
</div>