@model HomeBudget.Models.JqDate
@{
    Layout = "~/Views/Shared/Layouts/AFTERlogin.cshtml";
}

@{
    ViewBag.Title = "Index";
}
<div style="position: relative; top: 70px">
    <h1 id="container">
        <span style="color:black; font-family: 'Ubuntu'">Hello Username  </span>

        <img id="zdj" src="@Url.Action("UserPhotos", "Home" )" style="width:160px;height:160px; background: #FFFFFF;
    margin: auto;
    -moz-border-radius: 60px;
    border-radius: 100px;
    padding: 6px;
    box-shadow: 0px 0px 20px #888;" />
    </h1>

    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/themes/hot-sneaks/jquery-ui.css" rel="stylesheet" />
    @section Scripts {
        <script src="~/Scripts/jquery-1.12.4.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#JoinDate").datepicker();
            });
        </script>
    }
    <h3 style="color:black; font-family: 'Ubuntu'">Welcome on home page after login</h3>

</div>