
@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/Layouts/AFTERlogin.cshtml";
}
<div class="jumbotron" style="height:430px; position: relative;top:220px;background: rgba(90, 166, 130, 0.9); border: 0.5px solid black;">
    <h1>Welcome Admin. Now you can create user Role.</h1>
    <h3>
        <div>
            @Html.ActionLink("Manage Role", "Index", "Role")
        </div>
       
            @Html.ActionLink("Click to see all users", "UsersWithRoles", "ManageUsers")
   
    </h3>
    </div>