
@{
    ViewData["Title"] = "Admin Page";
}

<h1>Welcome Admin. Now you can create user Role.</h1>
<h3>
    <ul>
        <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>
    </ul>
    <ul>
        <li>@Html.ActionLink("See users", "List", "Role")</li>
    </ul>
</h3>