@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/Layouts/AFTERlogin.cshtml";
}



@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin. Now you can create user Role.</h1>
    <h3>
        <ul>
            <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>
        </ul>
        <ul>
            <li>@Html.ActionLink("See all users", "List", "Role")</li>
        </ul>
    </h3>
}
else
{
    <h2>  Welcome <strong>@ViewBag.Name</strong> :) </h2>
}

</div>