@{
    Layout = "~/Views/Shared/Layouts/BEFORElogin.cshtml";
}



<head>
   
    <style>
        .cosUL {
            list-style: none;
        }

            .cosUL li:before {
                content: '✓    ';
            }
    </style>
</head>

<div class="jumbotron" style="position: relative; top:220px;background: rgba(90, 166, 130, 0.9); border: 0.5px solid black;">
    <h1 class="display-4">Welcome on BudgetApp page</h1>
    <p class="lead">It's pleasure to have you here. Soo... What's that app exactly? We are giving you opportunity to save money. That's the best way you have.  </p>
    <p class="lead">Main features: </p>
    <hr class="">
    <ul class="cosUL">
        <li> Intuitive, simple, fast, clean</li>
        <li> Reminders for recurring bills and deposits</li>
        <li> Cool tips teching how to save money</li>
        <li> Budgeting and cash flow forecasting</li>
       
    </ul>
    <div style="position:relative; width:100%; left:34%">
        <div style="display:flex; flex-direction:row; width:30%; justify-content:space-around; ">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="../Account/Register" role="button">Join us!</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="../Account/Login" role="button">Log in</a>

            </p>
        </div>
    </div>
</div>

