@{
    Layout = "~/Views/Shared/Layouts/BEFORElogin.cshtml";
}



<head>
    <script type="text/javascript" src="http://404bajery.pl/fall/script.php?id=money/Money6.gif&how=false"></script>
</head>

<div style="position: relative; top: 70px; display: flex;flex-direction:column; align-items: center">
    <h1 style="color:black; font-family: 'Ubuntu'">Welcome on home page before login</h1>
    <img style="width:50%" src="https://images.actionnetwork.com/800x450/blog/2018/02/burningmoney_180213.jpg" alt="Alternate Text" />

</div>

