@{
    Layout = "~/Views/Shared/Layouts/BEFORElogin.cshtml";
}



<head>
    <script type="text/javascript" src="http://404bajery.pl/fall/script.php?id=money/Money6.gif&how=false"></script>
</head>

<div style="position: relative; top: 70px; display: flex;flex-direction:column; align-items: center">
    <h1 style="color:black; font-family: 'Ubuntu'">Welcome on home page before login</h1>
    <img style="width:50%" src="http://images7.memedroid.com/images/UPLOADED926/58f4aeec8a021.jpeg" alt="Alternate Text" />

</div>

