@model HomeBudget.Models.ApplicationUser
@{
    ViewBag.Title = "ChangeSavings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change savings</h2>

@using (Html.BeginForm("ChangeSavings", "Savings"))
{
    <div class="form-group" style="width:200px; margin-left:470px">
        @Html.LabelFor(m => m.SavingsAmount)
        @Html.TextBoxFor(m => m.SavingsAmount, new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.SavingsAmount)
    </div>

    <button type="submit" class="btn btn-primary" style="width:200px; margin-left:470px">Save</button>

}
